body {
  background-color: #e11364;
  font-family: "Roboto", sans-serif;
}

.body-1 {
  background-color: #bc105c;
}

h1 {
  color: white;
  background-color: #bc105c;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  margin: 30px 12% 30px 12%;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

h2 {
  color: white;
  text-align: justify !important;
}

.modo-de-juego {
  text-align: justify;
  color: white;
  font-size: 15px;
}

.borde-fondo {
  text-align: center;
  margin: 30px 12% 15px 12%;
  padding: 15px;
  border-radius: 10px;
  background-color: #bc105c;
  box-sizing: border-box;
}

.borde1 {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  
}

img {
  width: 100%;
}

.mk-titulo {
  text-align: end;
  color: #9a0032;
  border-bottom: 2px dotted #9a0032;
}

.boton {
  background-color: #277f1e;
  color: white;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  border: 0;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    background-color: #bc105c;
  }
}

p {
  text-align: justify;
  font-size: 10px;
}


.borde2 {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
}

.link-compra {
  background-color: #277f1e;
  color: white;
  width: 220px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    background-color: #bc105c;
  }
}

.float {
  float: right;
  width: 8%;
  padding-left: 10px;
  
}

.pie {
  color: white;
  background-color: #e96093;
  border-radius: 10px;
  font-size: 10px;
  text-align: center;
  padding: 15px;
  margin: 10px 12% 10px 12%;
}